@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    /* border: 1px dashed red; */
    font-family: 'Poppins', sans-serif;
    line-height: 1.2em;
}

body {
    margin: 0px;
}

header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 80px;
}

.hero {
    color: #E5E7EB;
    padding: 0px 80px;
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

}

.hero p {
    margin-top: 8px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;    
}

.navbar {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: auto;
    
}

header a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    padding: 0px;
    display: flex;
   
}

li {
    list-style: none;
    padding: 0px 10px
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    margin-bottom: 0px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

.hero img {
    max-width: 200px;
}

.section {
    padding: 10px 80px 20px 80px;
}

.section h2 {
    text-align: center;
    margin-bottom: 32px;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item p {
    text-align: center;
    margin: 16px;
    color: #1F2937;
}





.card {
    border: 3px solid #3882F6;
    border-radius: 10px;;
    height: 100px;
    width: 100px;
}

.quote {
    background-color: #E5E7EB;
    padding: 0px 80px;x
}

.quote p {
    
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
    padding: 80px;
    padding-bottom: 0px;
}

.quote p:nth-child(2) {
    padding: 0px;
    padding-bottom: 80px;
    text-align: right;
    font-weight: 1000;
}

#cite {
    font-style: normal;
    font-weight: bold;
    text-align: right;
    padding: 0px;
    margin-top: 0px;
}

.call {
    background-color: #3882F6;
    color: #F9FAF8
    
}

.action {
    padding: 0px 80px;
}

button {
    background-color: #3882F6;
    color:#F9FAF8;
}

footer {
    background: #1F2937;
    color: #E5E7EB;
    text-align: center;
    font-size: 16px;
    padding: 0px 80px;
}

footer a {
    color: #E5E7EB;
}